:root {
    --DisplayInfo-color: #3f7fd1;
    --WallpaperManager-color: #c04b4b;
    /*--SystemManager-color: #4CAF50;*/
    --SystemManager-color: #43a047;
}

section.module {
    padding-left: 16px;
    margin-top: 40px;
}

section.module#DisplayInfo {
    border-left: 3px solid var(--DisplayInfo-color);
}

section.module#DisplayInfo h2 {
    color: var(--DisplayInfo-color);
}

section.module#WallpaperManager {
    border-left: 3px solid var(--WallpaperManager-color);
}

section.module#WallpaperManager h2 {
    color: var(--WallpaperManager-color);
}

section.module#SystemManager {
    border-left: 3px solid var(--SystemManager-color);
}

section.module#SystemManager h2 {
    color: var(--SystemManager-color)
}
